# ignore pico_sdk copies
pico_*_import.cmake
font.h

# Copied by the CMAKE from /font-suite -> ignore copy
80col-mono/cp437.c
80col-mono/nupetscii.c

# Compiled files
uart_tx.pio.h
CMakeCache.txt
CMakeFiles/
tinyusb
MakeFile
elf2uf2/
cmake_install.cmake
*.elf
*.elf.*
*.dis
*.bin
*.hex
pioasm/
Makefile
generated/
pico-sdk/
pico_extras/
picoterm
picoterm_??

# Gimp files
*.xcf

# Maintenance
pushgit.sh
